body{
    background-color: rgb(71, 253, 71);
}

p{
    font-size: 30px;
    color: blue;
    text-align: center;
}

.a1{
    text-decoration: none;
    font-size: 24px;
    border: 5px solid yellowgreen;
    color: aqua;
    background-color: brown;
    padding: 5px;
}

.a1:hover{
    border: 5px solid yellowgreen;
    color: brown;
    background-color: aqua;
    font-weight: 700;
    box-shadow: 5px -5px 10px blueviolet;
}

.b1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    border: 5px solid rgb(205, 50, 135);
    border-radius: 50%;
    padding: 15px;
    background-color: crimson;
    color: rgb(205, 50, 135);

}

.b1:hover{
    text-transform: uppercase;
    background-color: darkblue;
}


.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.5em 0.8em 1.2em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(77,54,208,1) 0%, rgba(132,116,254,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
    letter-spacing: 0.05em;
    border-radius: 20em;
  }
  
  .cssbuttons-io-button svg {
    margin-right: 8px;
  }
  
  .cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;
  }
  
  .cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #4d36d0be;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    border: 0;
    box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
    background-color: hsl(210deg 100% 44%);
    border-radius: 12px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
   }
   
   button:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
    opacity: 1;
   }
   
   button:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
   }
   
   button:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
   }
   
   button i {
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
   }
   
   button:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
   }
   
   button:hover i:nth-child(1) {
    transition-delay: 0.045s;
   }
   
   button:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 3);
   }
   
   button:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 4);
   }
   
   button:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 5);
   }
   
   button:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
   }
   
   button:hover i:nth-child(7) {
    transition-delay: calc(0.045s * 7);
   }
   
   button:hover i:nth-child(8) {
    transition-delay: calc(0.045s * 8);
   }
   
   button:hover i:nth-child(9) {
    transition-delay: calc(0.045s * 9);
   }
   
   button:hover i:nth-child(10) {
    transition-delay: calc(0.045s * 10);
   }